.nav {
  display: flex;
  justify-content: center;
  gap: 4rem;
  width: 80vw;
  align-items: center;
  margin: 1.5rem auto 0 auto;
}

.nav input {
  width: 31rem;
  height: 3rem;
  padding-left: 1.5rem;
  background-color: #333333;
  border: none;
  color: var(--color-heading);
}

.search-img {
  display: block;
  font-size: 2rem;
  width: 3.5rem;
  color: whitesmoke;
  margin-left: -4rem;
}
.search-img:hover {
  background-color: gray;
  color: white;
}

.nav button {
  padding: 0.6rem 2rem;
  color: white;
  background-color: #02050e;
  border: 1.5px solid var(--buttons);
  border-radius: 10px;
}

.nav button:hover {
  border: 2px solid var(--buttons);
}

.nav input::placeholder {
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.avatar {
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  background-color: white;
  border-radius: 50%;
}
